<h1>Reportes</h1>
<ul>
	<li style="margin-bottom:10px;"><%= link_to 'Resumen venta en POS', store_admin_sales_summary_path %></li>
	<li style="margin-bottom:10px;"><%= link_to 'Inventario', store_admin_inventory_path %></li>
</ul>