<div id="printable" style="width:72.07px; height:297.04px; font-size:9px">
	<%= @purchase.change_ticket_barcode %><br />
  	<%= image_tag("/system/change_tickets/"+@purchase.supplier_account.name+'/'+@purchase.id.to_s+"_barcode.png") %><br />
    <br>
    printable area
    <br>
    printable area
</div>